/*-------------- cat-list-slider -----------------*/
.cat-list-slider-wrap{
	margin: 112px 0 40px;

	h1, .h1, h2, .h2{margin-bottom: 7rem;}
}

.cat-list-slider{
	display: none;
	margin: 0 -15px;

	&.slick-initialized{display: block;}
	.slick-track{display: flex;}

	.slick-slide{
		height: auto;
		margin: 0 15px;
	}

	.slick-slide > div{height: 100%;}

	.cat-item{
		display: flex!important;
		height: 100%;
	}
}

.cat-item{
	display: flex;
	flex-direction: column;
	position: relative;

	&__img-wrap{
		padding-bottom: 100%;
		position: relative;
		margin-bottom: 25px;
		overflow: hidden;
	}

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 0.2s ease 0s;

		img{max-height: 100%;}
	}

	&__img:hover{transform: scale(1.05);}

	&__content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 0 30px;
	}

	&__title{
		@include font(normal, normal, 1.8rem, 1.4, #000);

		a{
			color: #000;
			transition: color 0.2s ease 0s;
			text-decoration: none;
		}

		a:hover{color: $color-orange;}
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.375, $color-grey);
		margin-top: 10px;
	}

	&__bottom{
		margin-top: 18px;
		padding-top: 18px;
		position: relative;
	}

	&__bottom::before{
		content: '';
		display: inline-block;
		width: 50%;
		height: 1px;
		background: #ebebeb;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__status{
		@include font(normal, normal, 1.4rem, 1.375, $color-grey);
		padding: 5px;

		.icon{
			flex: 0 0 10px;
			margin-right: 8px;
			fill: #6fad37;
		}
	}

	&__price{
		display: flex;
		flex-wrap: wrap;
		@include font(normal, bold, 2rem, 1.2, #000);
		margin-top: 12px;
	}

	&__price:first-child{margin-top: 0;}

	&__cur-price,
	&__old-price{
		white-space: nowrap;
	}

	&__old-price{
		color: #ff0000;
		text-decoration: line-through;
		margin-right: 17px;
	}

	.sticker{
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
	}

	&__action{
		width: 100%;
		background: #fff;
		padding: 16px 30px;
	}

	&__btn{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;

		.btn_small{
			height: 5.2rem;
			width: calc(100% - 62px);
			line-height: 4.8rem;
			padding: 0 5px;
		}
	}

	&__btn:first-child{margin-top: 0;}

	&__wish{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		border: 2px solid $color-red;
		border-radius: 4px;
		cursor: pointer;
		transition: box-shadow 0.2s ease 0s;

		.icon{
			fill: $color-red;
			transition: fill 0.2s ease 0s;
		}
	}

	&__wish:hover{box-shadow: inset 0 -5.2rem 0 0 $color-red;}
	&__wish:hover .icon{fill: #fff;}
}

.cat-list{
	.cat-item{
		height: calc(100% - 80px);
		margin-bottom: 80px;

		&__action{
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 11;
		}
	}
}

.sticker{
	display: flex;
	flex-direction: column;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		padding: 5px;
		position: relative;
	}

	&__item:not(:last-child){margin-bottom: 10px;}

	&__bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		.icon{
			width: 100%;
			height: 100%;
			fill: $color-orange;
		}

		&_purple .icon{fill: #a02feb;}
		&_green .icon{fill: #6fad37;}
		&_yellow .icon{fill: #fccc2d;}
		&_pink .icon{fill: #eb2f86;}
	}

	&__text{
		position: relative;
		@include font(normal, bold, 1.2rem, 1.2, #fff);
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	
	&__icon{
		position: relative;
		padding-bottom: 7px;

		.icon{fill: #fff;}
		.ic-sale{margin-bottom: -5px;}
	}
}

.cat-list-slider-more{
	text-align: center;
	margin-top: 55px;
}

.catalog{
	&__bottom{
		margin-top: 68px;

		p:last-child{margin-bottom: 0;}
	}

	.cat-list-slider-wrap{margin: 97px 0 0;}
}

@media (min-width: 768px) {
	.cat-list{
		.cat-item{
			&:hover{box-shadow: 0px 16px 46px 0px rgba(0,0,0,0.08);}
	
			&:hover .cat-item__action{
				display: block;
				box-shadow: 0px 26px 46px 0px rgba(0,0,0,0.08);
			}
		}
	}
}

@media (max-width: 767px) {
	.cat-list-slider-wrap{
		margin: 40px 0;

		h1, .h1, h2, .h2{margin-bottom: 2.5rem;}
	}

	.cat-item{
		&__img-wrap{
			padding-bottom: 93%;
			margin-bottom: 23px;
		}

		&__content{padding: 0 22px}
		&__bottom{margin-top: 13px;}
		.sticker{left: 20px;}
	}

	.cat-list-slider{
		margin: 0;

		.cat-item{margin: 0;}

		.btn-arr{
			top: 23%;
			transform: none;
		}
	}

	.catalog{
		&__bottom{margin-top: 50px;}
		.cat-list-slider-wrap{margin-top: 50px;}
	}
}

@media (max-width: 479px) {
	.cat-list{
		[class^="col-"]{
			flex: 0 0 100%;
			max-width: 100%;
		}

		.cat-item{
			height: auto;
			margin-bottom: 35px;
		}
	}

	.cat-list-slider{
		.slick-slide{margin: 0;}
	}
}