/*-------------- slick -----------------*/
.btn-arr{
	display: block;
	font-size: 0;
	text-decoration: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	position: absolute;
	@include top-center;
	z-index: 10;

	&_left{left: 20px;}
	&_right{right: 20px;}

	.icon{
		fill: #ccc;
		transition: fill 0.2s ease 0s;
	}

	&:hover .icon{fill: #000;}
}

@media (max-width: 767px) {
	.btn-arr{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;

		&_left{left: 10px;}
		&_right{right: 10px;}

		.icon{
			width: 11px;
			height: 22px;
		}
	}
}